<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/98e2b2ba81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

    <div class="container">
        <!-- login  -->
        <div class="login" id="loginBox">
            <div class="topDetails flex">
                <div class="circle flex">
                    <i class="fa-solid fa-user"></i>
                </div>
                <h2>Welcome Back !</h2>
                <div style="max-width: 70%;text-align: center;">Log in to access your secure notes and keep your thoughts synced across all your devices.</div>
            </div>

            <div class="bottomDetails flex">
                <div class="loginMessage message"></div>
                <div>
                    <label for="accNum">Email ID</label>
                    <div class="inpBox flex" id="loginMail">
                        <i class="fa-solid fa-envelope"></i>
                        <input id="accNum" class="inputTag" placeholder="Enter The Email ID" type="email">
                    </div>
                </div>
                <div>
                    <label for="signInPinNum">Password </label>
                    <div class="inpBox flex" id="loginPass">
                        <i class="fas fa-lock input-icon"></i>
                        <input id="signInPinNum" class="inputTag" placeholder="Enter The Password" type="password" type="password">
                    </div>
                </div>
                <div class="inpBox btn " id="signInBtn">
                    <i class="fa-solid fa-right-to-bracket"></i> Sign In
                </div>
                <div>Don't have an account?<span id="createAccBtn"> Create one</span></div>
            </div>
        </div>

        <!-- Sign Up -->
        <div class="signUp login" id="signUpBox">
            <div class="topDetails flex">
                <div class="circle flex">
                    <i style="font-size: 32px;text-align: center;margin-left: 8px;" class="fas fa-user-plus"></i>
                </div>
                <h2>Create Account</h2>
                <div>Explore Our Task Manager and Be Calm about your Tasks</div>
            </div>
            <div class="bottomDetails flex">
                <p class="signUpMessage message">
                    Account created successfully!
                </p>
                <div>
                    <label for="accName">Full Name</label>
                    <div class="inpBox flex" id="nameBox">
                        <i class="fa-solid fa-user"></i>
                        <input id="accName" class="inputTag" placeholder="Enter Your Full Name" type="text">
                    </div>
                </div>


                <div>
                    <label for="email">Email ID</label>
                    <div class="inpBox flex" id="emailBox">
                        <i class="fa-solid fa-envelope"></i>
                        <input id="email" class="inputTag" placeholder="Enter Your Email ID" type="email">
                    </div>
                </div>

                <div>
                    <label for="signUpPinNum">Password </label>
                    <div class="inpBox flex" id="passwordBox">
                        <i class="fas fa-lock input-icon"></i>
                        <input id="signUpPinNum" class="inputTag" placeholder="Enter The Password" type="password">
                    </div>
                </div>


                <div class="inpBox btn" id="signUpSubmit">
                    <i class="fa-solid fa-right-to-bracket"></i> Sign Up
                </div>
                <span id="backToLoginBtn">Back To Login</span>
                <!-- <div class="" ><i class="fa-solid fa-arrow-left"></i>Back To Login</div> -->
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="javaScript/signUp.js"></script>
</body>

</html>