<footer class="flex">
    © 2025 Task Manager. All rights reserved by Harihara Suthan | Privacy Policy | Terms of Service | Cookie Policy
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="javaScript/signUp.js"></script>
</body>

</html>